<html ng-app="Calculator">
  <head>
    <title>Calculator App</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  
  <body ng-controller="CalculatorCtrl">
    <h1 class="text-center">
      <span id='header-angular'>AngularJS</span>
      <span id='header-calculator'>Calculator</span>
      <span id='header-app'>App</span>
    </h1>
    
    <div class="calc-body">
      <div class="calc-border">
        <p class="output" name="output"> 
          {{ output }}
          <br>
          {{ token }}
        </p>
      </div>
      <div class="calcbuttons">
        <div class="row">
          <div class="col-md-8">
            <button ng-repeat="button in buttons" name="btn{{ button }}" 
                    class="number-btn" value="{{ button }}" 
                    ng-click="[0,1,2,3,4,5,6,7,8,9,'.'].indexOf(button) !== -1 ? updateOutput(button) : calculate()"> {{ button }} 
            </button>
            <button class="btn btn-warning" id="clear" ng-click="clear()">Clear</button>
          </div>
          <div class="col-md-3">
            <button ng-repeat="op in operations" name="btn{{ op.name }}"
                    value="{{ op.symbol }}" class="operation-btn" ng-click="op.function()"> {{ op.symbol }}
            </button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>